<ion-view view-title="Account">
  <ion-content>
    <ion-list>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Enable Friends
	    </ion-toggle>
	    <ion-item>
	    I love kittens!
	    <ion-option-button class="button-positive">Share</ion-option-button>
	    <ion-option-button class="button-assertive">Edit</ion-option-button>
	  </ion-item>
    </ion-list>
    <!-- <ion-list show-delete="shouldShowDelete">
	    <ion-item>
		    <ion-delete-button class="ion-minus-circled"></ion-delete-button>
		    Hello, list item!
		</ion-item>
	</ion-list>
	<ion-toggle ng-model="shouldShowDelete">
		Show Delete?	
	</ion-toggle> -->
  </ion-content>
</ion-view>
